@media (max-width: 998px) {
    

    .offerSection{
        padding-top: 1em;

        .title{
            height: 100%;
            text-align: center;

            h1{
                font-size: 14px;

                span{
                    font-size: 16px;
                }
            }

        }

        .buttonBox{
            height: 100px;
            width: 100%;

            button{
                padding: 8px 14px;
            }
        }
    }
}