// color style csss
$bg-hover:  linear-gradient( 68.8deg,  rgba(0,0,0,0.95) 1.8%, rgba(0,55,79,1) 31.8%, rgba(9,93,134,1) 56.2%, rgba(15,155,217,1) 89% );            
$bg-color:  linear-gradient(90.1deg, rgba(84, 212, 228, 1) 0.2%, rgba(68, 36, 164, 1) 99.9%);
$text-color: #696969;
$secondText-color: #fff;
$bg-footer: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
$color-primary: linear-gradient( 109.6deg,  rgba(0,191,165,1) 11.2%, rgba(0,140,122,1) 100.2% );

 