@mixin flexSize{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14.4px;
    padding: 10px 0px;

}

@mixin flex{
    display: flex;
}

@mixin flexCenter{
    display: flex;
    align-items: center;
    gap: 20px;
}
