@import '../../CommonStyle/color.scss';

.navWraper {
    padding: 6px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 888;
    color: $secondText-color;

}

.activebg{
    background-image: $bg-color;
}
.active{
    color: #040f2a !important;

}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .logoImg {
        height: 70px;
        width: 70px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        img:hover {
            cursor: pointer;
            transform: scale(1.2);
            overflow: hidden;

        }
    }
}

.nav {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
        list-style: none;
        padding: 4px;

        li {
            font-size: 18px;
            font-weight: bold;
            padding: 8px 10px;
            mix-blend-mode: multiply;
            border-radius: 6px;
            background-image: $bg-color ; 
            
            a{
                text-decoration: none;
                color: $secondText-color;
            }
        }

        li:hover {
            cursor: pointer;
            background-image: $bg-hover; 
        }
    }
}


.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: none;

    .contactLogo {
        font-size: 2em;
    }
}

.hamburgerMenu{
    display: none;

    .icon{
        display: none;
    }
}

.ClosedIcon{
    display: none;
}