@import '../../CommonStyle/color.scss';
@import '../../CommonStyle/mixin.scss';

.footerWraper {
    position: relative;

    li {
        list-style: none;
    }


    #footer {
        padding: 2em 3em;
    }

    .left_footer {
        @include flex;
        flex-direction: column;
        gap: 5rem;

        .flogo {
            height: 70px;
            width: 70px;
            text-align: center;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }

            span {
                font-size: 16px;
                color: white;
                font-weight: 600;
            }
        }

        .location {
            backdrop-filter: blur(70px);
            width: 100%;
            padding: 2px 8px;

            .add {
                @include flexSize;
                color: $secondText-color;
            }

            .mail {
                @include flexSize;
                color: $secondText-color;
            }

            .phone {
                @include flexSize;
                color: $secondText-color;
            }

        }

        .network {
            display: flex;
            gap: 10px;
            font-size: 1em;
            color: $secondText-color;
            flex-direction: column;

            .icon {
                display: flex;
                gap: 10px;

                span {
                    cursor: pointer;
                    color: $text-color;
                    font-size: 1.2em;
                }

                span:hover {
                    color: $secondText-color;
                }
            }

        }
    }

    .right_footer {
        color: aliceblue;
        @include flexCenter;
        flex-direction: column;

        ul {

            padding: 4px;
            li {
                font-weight: 400;
                padding: 4px 0;

                a{
                    color: aliceblue
                }

                a:hover{
                    text-shadow: 0 0 15px whitesmoke
                }
            }
        }
    }

    .footer_insta{
        @include flexCenter;
        flex-direction: column;
        color: aliceblue;

        .img_div{
            @include flexCenter;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 60%;

            .img_box{
                height: 75px;
                width: 75px;
                border-radius: 12px;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        small{
            font-size: 18px;

            span{
                font-size: 22px;
                color: orangered;
            }
        }
    }

    .footer_btm {
        margin: auto;
        display: block;
        letter-spacing: 1.4px;
        font-weight: 500;
        text-align: center;
        color: white;
    }
}

.footerWraper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('../../../public/assets/Images/mirror.jpg');
    background-repeat: repeat;
    background-size: contain;
    opacity: 1;
    z-index: -1;
}