
.bannerTextWraper {
    position: absolute;
    top: 25vw;
    left: 4rem;
    z-index: 2;
    // box-shadow: inset 0 0 10px orangered;
    padding: 6px 12px;

}

.bannerText {
    color: white;

    h3 {
        padding: 2px 0;
        font-size: 3.2em;
    }

    p {
        font-size: 20px;
        font-weight: 700;
    }
} 

@media (max-width: 768px) {
    
    .bannerTextWraper{
        padding: 4px 6px;
        top: 32rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 6px;
        mix-blend-mode: overlay;
        backdrop-filter: blur(10px);
    }

    
    .bannerText h3{
        font-size: 1.5em;
    }
    .bannerText p{
        font-size: 12px;
    }
}

@media (max-width: 567px) {
    .bannerTextWraper{
        top: 15rem;
    }
}