@import '../../../../CommonStyle/color.scss';

.modelWraper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $bg-hover;
    z-index: 999;

}

.modelImg {
    position: relative;
    top: 50px;
    left: 5%;
    height: 90vh;
    width: 90%;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.modelContainer {
    position: relative;
    height: 100%;
    width: 100%;

    button {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 2%;
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    
    .modelImg{
        top: 0;
    }
}