.homeGalleryWraper {
    padding: 5vw 0;
}

.galleryHeading {
    text-align: center;

    h1 {
        font-size: 2vw;
        color: dimgray;
        font-weight: 300;
        text-transform: uppercase;
    }

    p {
        font-size: 3vw;
        text-transform: capitalize;
        font-weight: 400;

        span {
            font-weight: 700;
            color: black;
        }

    }
}

// this section is gallery boxs

.galleryBox {

    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0px 10px;

    .rightSideBox {
        height: 100%;
        width: 100%;
    }
    .row{
        width: 100%;
        display: flex;
    }


    .box1 {
        height: 300px;
        width: 70%;
        grid-area: box1;
    }

    .box2 {
        height: 300px;
        width: 30%;
        grid-area: box2;
    }

    

}



.allButton {
    text-align: center;
    padding: 10px 0px;
    margin: 50px 0px;

    button {
        height: 45px;
        width: 250px;
        border: 2px solid lightseagreen;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        background-image: linear-gradient(90.1deg, rgba(84, 212, 228, 1) 0.2%, rgba(68, 36, 164, 1) 99.9%);
    }

    button:hover {
        background-image: linear-gradient(68.8deg, rgba(0, 0, 0, 0.95) 1.8%, rgba(0, 55, 79, 1) 31.8%, rgba(9, 93, 134, 1) 56.2%, rgba(15, 155, 217, 1) 89%);
        cursor: pointer;

    }
}